@import 'variable.less';

.oa-banner {
    margin-bottom: 20px;
    margin-top:20px;
    .oa-banner-left {
        float:left;
        height:300px;
        width:598px;
        border:@globle-border;
        text-align: center;
    }
    .oa-banner-right {
        float:right;
        height:300px;
    }
}