@import 'variable.less';

.oa-banner {
    margin-bottom: 20px;
    margin-top:20px;
    .oa-banner-left {
        float:left;
        height:300px;
        width:498px;
        border:@globle-border;
        text-align: center;
    }
    .oa-banner-right {
        width:480px;
        float:right;
        height:300px;
    }
}
.oa-banner-right {
    h3 {
        font-weight:800;
        line-height: 1.2;
        span {
            padding-left:10px;
            border-left:3px solid red;
        }
    }
    ul {
        margin-left: -26px;
        margin-right: -26px;
        li {
            float:left;
            width:25%;
            text-align: center;
            margin-top:30px;
        }
    }
}