@import 'variable.less';

.oa-banner {
    margin-bottom: 20px;
    margin-top:20px;
    .oa-banner-left {
        float:left;
        height:300px;
        width:498px;
        border:@globle-border;
        text-align: center;
    }
    .oa-banner-right {
        width:480px;
        float:right;
        height:300px;
    }
}
.oa-banner-right {
    h3 {
        font-weight:800;
        line-height: 1.2;
        span {
            padding-left:10px;
            border-left:3px solid red;
        }
    }
    ul {
        margin-left: -26px;
        margin-right: -26px;
        li {
            float:left;
            width:25%;
            text-align: center;
            margin-top:30px;
        }
    }
}
.oa-content {
    padding-bottom:20px;
    padding-top: 5px;
    .oa-lists {
        overflow: hidden;
        padding:0 15px 15px;
        background:@globle-background;
        .oa-classify {
            border-bottom:@globle-border;
            margin-bottom:20px;
            a {
                display: inline-block;
                margin-left:11px;
                font-size:13px;
                .link();
            }
        }
        ul {
            margin-left:-11px;
            margin-right:-11px;
            overflow: hidden;
            li {
                float:left;
                padding:0 11px;
                margin-bottom:13px;
            }
        }
    }
    
    .oa-rank {
        padding:0 15px 15px;
        background:@globle-background;
        h3 {
            font-weight:bold;
            line-height: 40px;
        }
        .ad {
            border:1px solid #ccc;
            height:120px;
        }
        
    }
}