@globle-width: 1000px;
@globle-border: 1px solid #DCDCDC;
@globle-background: #F5F5F5;
@color-1:#5A5959;
@color-2:#979696;
@link:#0099CC;
@highlight1: #d11216;
@shadow: #E4E2E2;
.no-wrap() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.link() {
    &.active {
        color:#d11216;
    }
    &:hover {
        color:#d11216;
    }
}
//列表点
.list-dot() {
    position: relative;
    padding-left:8px;
    &::before {
        content:'';
        width:4px;
        height:4px;
        background:#ccc;
        position: absolute;
        top:10px;
        left:0;
    }
}